In [ ]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving income.csv to income.csv

Importing CSV file

In [ ]:
import io
LoanData= pd.read_csv(io.BytesIO(uploaded['income.csv']))
LoanData.head()

   age  fnlwgt  education_num  ...  capital_loss  hours_per_week  income_level
0   39   77516             13  ...             0              40             0
1   50   83311             13  ...             0              13             0
2   38  215646              9  ...             0              40             0
3   53  234721              7  ...             0              40             0
4   28  338409             13  ...             0              40             0

[5 rows x 7 columns]

Data

In [ ]:
X=LoanData.iloc[:,0:6]
X

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
48837   39  215419             13             0             0              36
48838   64  321403              9             0             0              40
48839   38  374983             13             0             0              50
48840   44   83891             13          5455             0              40
48841   35  182148             13             0             0              60

[48842 rows x 6 columns]

Target

In [ ]:
y=LoanData.iloc[:,6]
y

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    1
Name: income_level, Length: 48842, dtype: int64

Spliting Training and Test Data

In [ ]:
#80% training data 20% test data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

Training the Ada-Boost Model

In [ ]:
AdaModel=AdaBoostClassifier(n_estimators=100,learning_rate=1)
model=AdaModel.fit(X_train,y_train)
model

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1,
                   n_estimators=100, random_state=None)

Prediction of test data and Accuracy

In [ ]:
y_pred=model.predict(X_test)
# y_pred
print("Accuracy :",metrics.accuracy_score(y_test,y_pred))

Accuracy : 0.8374449790152523